{{ docType() }}
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>
			{% block title %}Painel Administrativo{% endblock title %}
			
		</title>
		<!-- start: Mobile Specific -->
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<!-- end: Mobile Specific -->

		{% block meta %}{% endblock meta %}
		
		{% block style %}{% endblock style %}
	
		<!-- begin: Scripts -->
		<!--[if lt IE 9]><script type="text/javascript" src="{{ basePath() }}/js/respond.min.js"></script><![endif]-->
		<!--[if lt IE 9]><script type="text/javascript" src="{{ basePath() }}/js/html5shiv.js"></script><![endif]-->
		{% block scriptHead %}
		<!-- begin: HEAD JS -->
		<!-- end: HEAD JS -->
		{% endblock scriptHead %}
		<!-- end: Scripts -->
		
	</head>
	<body>
		{% block content %}{{ content|raw }}{% endblock content %}
		
		{% block scriptBody %}{% endblock scriptBody %}
		
		{% block inline %}{% endblock inline %}
		
	</body>
</html>